img{
	width: 200px;
	border-radius: 30px;
}
h1{
	text-align: center;
	background: blue;
	font-family: sans-serif;
	color: white;
}
p {
			text-align: center;
		}
		h4{
			text-align: center;
			font-family: sans-serif;
			background: blue;
			color: white;
		}
		body{
			background-color: red;c
		}
		